In [1]:
list1=['Ram','Raheem','Robert']

list2=[25,30,35]

In [ ]:
'Ram has age 25'
'Raheem has age 30'
'Robert has age 35'

In [2]:
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [ ]:
#{key:value}

In [3]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

d1

#keys= 'Ram','Raheem','Robert'
#values=25,30,35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [4]:
d2={25:'Ram',30:'Raheem',35:'Robert'}
d2

#keys: 25,30,35
#values: 'Ram','Raheem','Robert'

{25: 'Ram', 30: 'Raheem', 35: 'Robert'}

In [5]:
d3={'even':[2,4,6],
   'odd':[3,5,7]}

d3

{'even': [2, 4, 6], 'odd': [3, 5, 7]}

In [2]:
d4={[2,4,6]:'even',
   [3,5,7]:'odd'}      # fail

TypeError: unhashable type: 'list'

In [3]:
d4={(2,4,6):'even',
   (3,5,7):'odd'}

d4

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

In [9]:
# {'key':<{}>}
d5={'item_list':{'fruiits':'Apple'}}
d5

{'item_list': {'fruiits': 'Apple'}}

In [4]:
d6={{'fruiits':'Apple'}:'item_list'}
d6

TypeError: unhashable type: 'dict'

In [11]:
a=[1,2]
b=(1,2)

In [18]:
a,b=[1,2]
c,d=(1,2)
d

2

In [6]:
a=1,2
a

(1, 2)

In [7]:
type(a)

tuple

In [20]:
d1={'A':1,'B':2,'A':1}
d1

{'A': 1, 'B': 2}

In [22]:
d1={'A':1,'B':2,'A':3}
d1

{'A': 3, 'B': 2}

- Dictionary is a key:value pair 

- at values postition you can take any data type

- at keys postion list and dictionary will fail

- Duplicates are not allowed

- If you will update a key value, latest value it will take

$type$

In [23]:
type(d1)

dict

- str

- list

- dict

- int

- float

- bool

- complex

- tuple

- set

In [10]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

max(d1)

# this maximum we are getting based on key or value

'Robert'

In [25]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':3}

max(d1)

'Robert'

- Maximum and minimum value based on key only

In [12]:
min(d1)

'Ram',     ord('m')
'Raheem',  ord('h')
'Robert'

'Robert'

In [27]:
len(d1)

3

In [28]:
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 3}

In [29]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
d2={100:'2',300:'4'}
sum(d2)

400

- if keys has numeric then we can do sum

In [35]:
'a'*'b'

TypeError: can't multiply sequence by non-int of type 'str'

- type

- len

- max

- min

- sum

$in$

In [40]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}


#'Ram':25  in d1  fail
    
'Ram'  in d1   # works

#25  in d1    # Fails

True

In [39]:
for i in d1:
    print(i)

Ram
Raheem
Robert

In [38]:
str1='apple'
'a' in str1

l1=[1,2,3]
1 in l1

for i in l1:
    print(i)

1
2
3

$index$

In [42]:
l1=[10,20,30,40]
l1[0]

str1='apple'
str1[0]

'a'

In [13]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

d1['Ram']

# can we get values using for loop

25

In [49]:
for key in d1:
    print("The age of {} is {}".format(key,d1[key]))

The age of Ram is 25
The age of Raheem is 30
The age of Robert is 35

In [51]:
for i in range(len(l1)):
    print(i,l1[i])

0 10
1 20
2 30
3 40

In [52]:
for key in range(len(d1)):
    print(key)
    #print("The age of {} is {}".format(key,d1[key]))  # possibile / not possible

0
1
2

**Creating a empty dictionary and update**

In [54]:
s=''

for i in 'apple':
    s=s+i
    
print(s)

apple

In [55]:
l=[i for i in range(10)]

l=[]
for i in range(10):
    l.append(i)
    
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
d1={}
d1['fruite']='Apple'
d1

{'fruite': 'Apple'}

In [57]:
d1={}
d1["First name"]="Nikita"
d1["sir name"]="Parolekar"
d1["Nativeplace"]="Dhule"
d1["State"]="Maharashtra"
d1

{'First name': 'Nikita',
 'sir name': 'Parolekar',
 'Nativeplace': 'Dhule',
 'State': 'Maharashtra'}

In [ ]:
# WAP create a dictionary based on two lists
# names=['Ram','Raheem','Robert']
# age=[25,30,35]
# d1={'Ram':25,'Raheem':30,'Robert':35}

names=['Ram','Raheem','Robert']
age=[25,30,35]

In [58]:
names=['Ram','Raheem','Robert']
age=[35,25,30]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

############################################################
dict1={name:age for name,age in zip(names,age)}

{'Ram': 35, 'Raheem': 25, 'Robert': 30}

In [73]:
dict1={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
    
#######################################################################
dict1={names[i]:age[i] for i in range(len(names))}

Ram 25
Raheem 30
Robert 35

In [68]:
list1=[]
for i in range(len(names)):
    list1.append(i)
    
list1=[i for i in range(len(names))]
list1

[0, 1, 2]

In [ ]:
#WAP take 5 random numbers
# and create a dictionary with even and odd

# Output: {'even':[20,22],'odd':[19,21,23]}

# step-1: take empty dictionary
# step-2: take two even and odd list
# step-3: import random
# step-4: for i in range(5):
# step-5:     num=random.randint(a,b)
# step-6:     if <even>:
# step-7:        append the values in even list
# step-8:    else:
# step-9:        append the values in odd list
# step-10: create dictinary

In [15]:
import os
os.getcwd()

'C:\\Users\\Manohar\\Documents\\Data_science course\\Class_Notes'

### dictionary methods

In [18]:
dir({})

# str=''
# list=[]
# dict={}

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$items-keys-values$

In [19]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [28]:
# items
items=d1.items()
items

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [27]:
type(items)

dict_items

In [29]:
# keys 
keys=d1.keys()
keys

dict_keys(['Ram', 'Raheem', 'Robert'])

In [30]:
type(keys)

dict_keys

In [32]:
# values
values=d1.values()
values

dict_values([25, 30, 35])

In [33]:
type(values)

dict_values

In [36]:
l1=[24,45,67]
l1.append(233)
l1

[24, 45, 67, 233]

In [38]:
values   # i want to comvert into a list
values_list=list(values) # then you can apply list methods
values_list

[25, 30, 35]

In [39]:
keys_list=list(keys)
keys_list

['Ram', 'Raheem', 'Robert']

In [ ]:
# i will give the dictionary

In [42]:
keys=lisy(d1.keys())
values=list(d1.values)

In [43]:
keys,values

(dict_keys(['Ram', 'Raheem', 'Robert']), dict_values([25, 30, 35]))

In [48]:
d2={i:j for i,j in zip(keys,values)}
d2

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [52]:
dict(zip(keys,values))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [93]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,Kl.rahul@lucknow.com'
s1.split(',')
d1={}

In [94]:
fn=[s1[:s1.find('.')] for s1 in s1.split(',')]
sn=[s1[s1.find('.')+1:s1.find('@')] for s1 in s1.split(',')]
cn=[s1[s1.find('@')+1:s1.find('.',s1.find('.')+1)] for s1 in s1.split(',')]

In [95]:
fn,sn,cn

(['virat', 'Rohit', 'Kl'],
 ['kohli', 'sharma', 'rahul'],
 ['blr', 'mumbai', 'lucknow'])

In [97]:
d1['first_name']=fn
d1['second_name']=sn
d1['company_name']=cn
d1

{'first_name': ['virat', 'Rohit', 'Kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'company_name': ['blr', 'mumbai', 'lucknow']}

In [112]:
str1='can can you canner can you able to can canner'
list1=str1.split(' ')
d2={}
for i in list1:
    d2[i]=list1.count(i)

d2

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [126]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

d3={}
for i,j in zip(d1,d2):
    d3[i]=d1[i]+d2[i]
d3

{'a': 70, 'b': 130, 'c': 240}

In [139]:
d1={'a':20,'b':30,'c':40,'d':500}
d2={'a':50,'b':100,'c':200}

for i in range(min(len(d1),len(d2))):
    d1[list(d1.keys())[i]]+=d2[list(d2.keys())[i]]
    
d1

{'a': 70, 'b': 130, 'c': 240, 'd': 500}

In [1]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$clear$-$copy$

In [18]:
d1={'a':20,'b':30,'c':40}
d2=d1.copy()
d1.clear()
print(d1)

{}

In [17]:
print(d2)

{'a': 20, 'b': 30, 'c': 40}

$pop$-$popitem$-$del$

- what is pop()
    - removes the key and return the values
- what is popitem()
    - remove the last values
    - return the pair
- what is del
     - del is keyword
     - it deletes the pair which is provided

In [25]:
d1={'a':20,'b':30,'c':40}
d1.pop('b')

30

In [26]:
d1

{'a': 20, 'c': 40}

In [28]:
d1.popitem()

('c', 40)

In [32]:
# del is a keyword

d2={'a':20,'b':30,'c':40,'d':500}
del d2['c']
d2

{'a': 20, 'b': 30, 'd': 500}

In [30]:
l1=[10,20,30,40,50]
del l1[1]
l1           # list is access by index

[10, 30, 40, 50]

In [33]:
del(d2)

In [34]:
d2

NameError: name 'd2' is not defined

- items/values/keys
- if i provide two list you know how to make dict
- if i provide dict, you know how to generate the list
- create a empty string and dictionary
- counter
- summ
- function
- pop/popitem/del
- copy/clear

$fromkeys-get$

In [39]:
d1={'a':20,'b':30,'c':40,'d':500}
d1.get('b')

30

In [41]:
d1.get('z')

In [42]:
d1['z']

KeyError: 'z'

- how many ways we can do
- what output it is returning
- what is the difference
- we can access the values by providing the key as index and key in get method
- but if the key is not present in dictionary, key as index will give key error
- get method will not return anything and no error

In [65]:
# fromkeys

d2=d1.fromkeys('raheem',25)
d2

{'r': 25, 'a': 25, 'h': 25, 'e': 25, 'm': 25}

In [64]:
d3={}.fromkeys([1,3,5],'odd')
d3

{1: 'odd', 3: 'odd', 5: 'odd'}

$setdefault$

In [66]:
d1

{'a': 20, 'b': 30, 'c': 40, 'd': 500}

In [87]:
d1={}
d1.setdefault('nareshit','Ds')
d1.setdefault('city')
d1.setdefault('nareshit',['Ds','MLOps','DE'])
d1['nareshit']='Ds'
d1['city']

In [88]:
d1

{'nareshit': 'Ds', 'city': None}

$update$

In [91]:
d1 = {'a':1, 'b':4, 'c':5}
d2 = {'b':7, 'd':9}
d1.update(d2)
d1

{'a': 1, 'b': 7, 'c': 5, 'd': 9}

In [92]:
d1 = {'a':1, 'b':4, 'c':5}
d2 = {'b':7, 'd':9}
d2.update(d1)
d2

{'b': 4, 'd': 9, 'a': 1, 'c': 5}

- update method will update a dictionary with elements from another dictionary. it modifies the dictionary

- tuple

write an article on tuple

- how to read 
- type/max/min/len/sum
- index / mutable
- in / for
- slice
- methods