In [1]:
list1=[1,2,3,4,"a","b","c"]
list1

[1, 2, 3, 4, 'a', 'b', 'c']

In [2]:
list2=[1,"apple",True]
list2

[1, 'apple', True]

In [3]:
list3=['A','B',"C",'D']
list3

['A', 'B', 'C', 'D']

In [4]:
list4=[[1,2,3,4]]
list4

[[1, 2, 3, 4]]

In [5]:
list5=[1,2,3,4]
list5

[1, 2, 3, 4]

- list is an array of elements
- list elements heterogenous(different) data types are allowed
- duplicates are allowed
- list in list also works

list types

In [6]:
type(list1)

list

*max*

In [7]:
max(list1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [10]:
max(list2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [11]:
max(list3)

'D'

In [12]:
max(list4)

[1, 2, 3, 4]

In [15]:
max(list5)

4

In [17]:
print(len(list1))
print(len(list2))
print(len(list3))
print(len(list4))
print(len(list5))

7
3
4
1
4

In [24]:
print(sum(list1))
print(sum(list2))
print(sum(list3))
print(sum(list4))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
print(sum(list5))

10

$in$

In [27]:
list5=[1,2,3,4]
list5

[1, 2, 3, 4]

In [28]:
1 in list5
2 in list5
3 in list5
4 in list5

True

In [29]:
for i in list5:
    print(i)

1
2
3
4

$concatenation$

In [32]:
list1=[1, 2, 3, 4]
list1

[1, 2, 3, 4]

In [34]:
list2=['A','B','C','D']
list2

['A', 'B', 'C', 'D']

In [36]:
print(list1+list2)
print(list2+list1)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [38]:
new_list=list1+list2
new_list

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [39]:
list1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [40]:
list1-list2  #fail
list1*list2  #fail
list1/list2  #fail

TypeError: unsupported operand type(s) for -: 'list' and 'list'

$index$

In [41]:
list3=[1,2,3,4,'A','B','C','D']
list3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [43]:
# python index starts with zero
list3[0],list3[1],list3[2],list3[3]

(1, 2, 3, 4)

In [44]:
for i in range(len(list3)):
    print(i,list3[i])

0 1
1 2
2 3
3 4
4 A
5 B
6 C
7 D

In [46]:
list3[-1]
# -8 -7 -6 -5 -4 -3 -2 -1
# 1   2  3  4  A  B  C  D
# 0   1  2  3  4  5  6  7

'D'

In [79]:
for i in range(len(list3)):
    print('positive is: {} negitive is: {} for an element {}' .format(i,i-len(list3),list3[i]))

positive is: 0 negitive is: -8 for an element 1
positive is: 1 negitive is: -7 for an element 2
positive is: 2 negitive is: -6 for an element 3
positive is: 3 negitive is: -5 for an element 4
positive is: 4 negitive is: -4 for an element A
positive is: 5 negitive is: -3 for an element B
positive is: 6 negitive is: -2 for an element C
positive is: 7 negitive is: -1 for an element D

In [118]:
list1=['apple','ball','cat','ab','dc','ef']
for i in range(len(list1)):
    if len(list1[i])<3:
        print(list1[i])

ab
dc
ef

In [58]:
for i in list1:
    if len(i)<3:
        print(i)

ab
dc
ef

In [130]:
list2=['app#e','b#ll','c#t','ab','dc','ef']
for i in range(len(list2)):
    print(list2[i])

app#e
b#ll
c#t
ab
dc
ef

In [132]:
count=0
for i in list2:
    if '#' in i:
        count+=1
print(count)

3

In [125]:
list1=[1,2,3,['apple','ball']]
list1[3][1]

'ball'

In [92]:
list2=[[[[[[['cherry']]]]]]]
list2[0][0][0][0][0][0][0]

'cherry'

In [101]:
list3=[[[['a','b',[[[1,2,3,['car']]]]]]]]
list3[0][0][0][2][0][0][3][0]

'car'

$mutable$

In [104]:
list1=['welcome',100,200]
list1[0]='A'
list1

['A', 100, 200]

$slice$

In [108]:
list1=[10,20,30,40,50,'p','y','t','h','o','n','a','b','c','d']
print(list1[2:14:3])  #p
print(list1[2:14:-3]) #np
print(list1[2:-14:3])  #np
print(list1[2:-14:-3]) #p
print(list1[-2:14:3])  #p
print(list1[-2:-14:3]) #np
print(list1[-2:-14:-3]) #p
print(list1[-2:14:-3]) #np

[30, 'p', 'h', 'a']
[]
[]
[30]
['c']
[]
['c', 'n', 't', 50]
[]

In [115]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$clear$-$copy$

In [110]:
list1=[1,2,3,4] 
# i want copy these elements in a list2

list2=list1.copy()

In [111]:
list2
list1

[1, 2, 3, 4]

In [112]:
list1.clear()

In [113]:
list1

[]

In [114]:
list2

[1, 2, 3, 4]

$append$

In [2]:
# add something to the end of a written document.

list1=[100,300]

# [100,200,300]
list1.append(300)
list1

[100, 300, 300]

In [5]:
list1=[]


list1.append(100)
list1.append(200)
list1.append(300)
list1

[100, 200, 300]

In [7]:
list1.append([400,500])
list1

[100, 200, 300, [400, 500]]

In [9]:
list1[3][1]

500

In [19]:
list1.append('apple')
list1

[1, 2, 3, 4, 5, 'apple']

In [38]:
list1=[1,2,3,4,5]
output1=[]
for i in list1:
    output1.append(i*i)

output1

[1, 4, 9, 16, 25]

In [28]:
list1=[1,2,3,4,5]
output1=[]
for i in range(1,len(list1)+1):
    output1.append(i*i)

output1

[1, 4, 9, 16, 25]

In [53]:
import string
list2=['hyd','bengaluru','delhi']
output2=[]
for i in list2:
    cap=i.capitalize()
    output2.append(cap)

output2

['Hyd', 'Bengaluru', 'Delhi']

In [60]:
list3=['h#d','b#ngaluru','delhi']
output3=[]
for i in list3:
    if '#' in i:
        output3.append(i)

output3

['h#d', 'b#ngaluru']

In [62]:
list2=['hyd','bengaluru','delhi']
output2=[i.capitalize() for i in list2]

output2

['Hyd', 'Bengaluru', 'Delhi']

In [77]:
# create the list of 20 numbers from 1 to 10

# method-1
list1=[]
for i in range(21):
    list1.append(i)
list1

# [<o/p> <forloop>]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [70]:
# method-2
numbers=[i for i in range(21)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# list comprehenshion with if condition

In [76]:
list3=['h#d','b#ngaluru','delhi']
output3=[]
for i in list3:
    if '#' in i:
        output3.append(i)

output3

#[<o/p> <forloop> <if_condition>]

['h#d', 'b#ngaluru']

In [74]:
list3=['h#d','b#ngaluru','delhi']
output3=[i for i in list3 if '#' in i]
output3

['h#d', 'b#ngaluru']

In [78]:
list4=['abcd','abc','ac','a']
output4=[]
for i in list4:
    if len(i)<3:
        output4.append(i)
output4

['ac', 'a']

In [79]:
output4=[i for i in list4 if len(i)<3]
output4

['ac', 'a']

In [82]:
# if else

list1=[1,2,3,4,5,6]
output=[]
for i in list1:
    if i%2==0:
        output.append('even:{}'.format(i))
    else:
        output.append('odd:{}'.format(i))
        
output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [84]:
list1=[1,2,3,4,5,6]

output=['even:{}'.format(i) if i%2==0 else 'odd:{}'.format(i) for i in list1 ]
output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [ ]:
## [<if_output> <if_condition> else <else_output> <for_loop>]

$count$

In [86]:
list1=[1,2,3,'A','B','C','D','B',"D",'B']
list1.count('B')

3

In [87]:
count=0
for i in list1:
    if i == "B":
        count+=1
print(count)

3

$Extend$

In [91]:
list1=['A','B','C']
list2=[1,2,3]

list1.extend(list2)  # list1 is automatically updated list2 values
list1

['A', 'B', 'C', 1, 2, 3]

In [92]:
list1=['A','B','C']
list2=[1,2,3]

list1=list1+list2
list1

['A', 'B', 'C', 1, 2, 3]

In [93]:
list1=['A','B','C']
list2=[1,2,3]

list1.append(list2)
list1

['A', 'B', 'C', [1, 2, 3]]

*append vs extend vs concat*

- append will add the element at last , that element can be any type

        - list1=[1,2,3]
        - list2=['A','B']
        - list1.append(list2)=[1,2,3,['A','B']]
        
- extend will update the list by adding new elements, the results also save in the same list

        - list1=[1,2,3]
        - list2=['A','B']
        - list1.extend(list2)=[1,2,3,'A','B']
        
- concat will add two list, but the result will not update in a list

        - list1=[1,2,3]
        - list2=['A','B']
        - list1+list2=[1,2,3,'A','B']

$iterator$

- iterator word =====> loop
- the elements we can print using the loop
- string='python' we can print each letter using for loop
- list1=[1,2,3] we can print each element using for loop

In [95]:
val=reversed('python')
val

In [97]:
for i in val:
    print(i)

In [107]:
list1=[1,2,3,4]
list1.extend('python')
list1.append('python')
list1

[1, 2, 3, 4, 'p', 'y', 't', 'h', 'o', 'n', 'python']

$pop$-$remove$-$del$

In [103]:
list1.extend('python')

In [108]:
list1

[1, 2, 3, 4, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [109]:
list1.pop()

# inside the bracket default argument is there index=-1
# -1 means last value
# if you not provide any value
# it will remove last value
# if i provide any index, it will remove that element
# it is also returing, which ekement is removed

'python'

In [110]:
list1.pop(100)

IndexError: pop index out of range

In [113]:
list1=[100,200,300,100,400]  # duplictes are allowed
list1.remove(100)            # first occurance will gone
list1                        # it will not return value

[200, 300, 100, 400]

In [114]:
del(list1)

In [115]:
list1

NameError: name 'list1' is not defined

In [123]:
list1=[100,200,300,100,400]
list1

[100, 200, 300, 100, 400]

In [126]:
del list1[2]

In [127]:
list1

[100, 200, 400]

- index
- insert
- reverse ======= reversed
- sort ========== sorted

$index$

In [137]:
list1=[1,2,3,4,5,6,7,8]
x=list1.index(7)
print('index:',x)

# The index() method only returns the first occurrence of the value

index: 6

$insert$

In [153]:
list1=[1, 2, 3, 4, 'p', 'y', 't', 'h', 'o', 'n', 'python']
list1

[1, 2, 3, 4, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [156]:
list1.insert(4,'hai')

In [157]:
list1

[1, 2, 3, 4, 'hai', 'p', 'y', 't', 'h', 'o', 'n', 'python']

$reverse$

In [158]:
list1=[1, 2, 3, 4, 'p', 'y', 't', 'h', 'o', 'n', 'python']
list1

[1, 2, 3, 4, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [159]:
list1.reverse()
list1

['python', 'n', 'o', 'h', 't', 'y', 'p', 4, 3, 2, 1]

$sort$

In [160]:
list1=[1, 2, 3, 4, 'p', 'y', 't', 'h', 'o', 'n', 'python']
list1

[1, 2, 3, 4, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [161]:
list1.sort()
list1  # TypeError: '<' not supported between instances of 'str' and 'int'

TypeError: '<' not supported between instances of 'str' and 'int'

In [162]:
list1=['p', 'y', 't', 'h', 'o', 'n', 'python']
list1.sort()
list1

['h', 'n', 'o', 'p', 'python', 't', 'y']

In [2]:
# ascending order
list1=[8,4,8,3,2,7,9,0]
list1.sort()
list1

[0, 2, 3, 4, 7, 8, 8, 9]

In [5]:
# descending order
numbers = [1, 3, 4, 2]
numbers.sort(reverse=True)

print(numbers)

[4, 3, 2, 1]

$zip$

In [166]:
list1=['ram','robert','raheem']
list2=[25,30,35]

for i,j in zip(list1,list2):
    print('{} age is {}'.format(i,j))

ram age is 25
robert age is 30
raheem age is 35

In [177]:
list1=[100,200,300]
list2=[25,30,35]

#output=['{} + {} : {}'.format(i,j,i+j) for i,j in zip(list1,list2)]
output=[i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]

In [1]:
# take 3 ques in list1
# take correspoding 3 answers in another list2
# iterate through list1
# every ques should print
# answer =input('tell the answer')
# answer will check in list2
# if it is there: marks=marks+1
# else: no marks

# how many write answers you made, how may answers you got

############################################################

# list1=['who is PM of india','what is the capital of india','who is the president of india']
# list2=['modi','delhi','Draupadi']
# marks=0
# correct_answer=0
# for i in range(len(list1)):
#    print('q1',<>)
#    answer=input("enter the number:")
#    if answer.lower()==list2.index(i):
#        marks+=1

In [49]:
list1=['who is PM of india','what is the capital of india','who is the president of india']
list2=['modi','delhi','draupadi']
marks=0
correct_answer=0
for i in range(len(list1)):
    print('Q{}: {} ?'.format(i+1,list1[i]))
    
    answer=input('Enter your answer:')
    if answer.lower() == list2[i]:
        marks+=1
        correct_answer+=1
        
print("Your correct answers = {} and marks = {}".format(correct_answer,marks))

Q1: who is PM of india ?
Enter your answer:modi
Q2: what is the capital of india ?
Enter your answer:delhi
Q3: who is the president of india ?
Enter your answer:fawhw
Your correct answers = 2 and marks = 2

In [47]:
type(answer)

str

In [36]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [26]:
#list1 = [100,200,300]
list1 = [200,350,150,65,2]
x=0
for i in list1:
    if i>x:
        x=i
print(x)

350

In [ ]:
list2=[20,30,50,60,100,90,70,50,30]